# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\asus\Documents\ECI\2020-2\ARSW\Laboratorios\LAB2-ARSW\IMMORTALS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
